
body{
  margin: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif,sans-serif;
  line-height: 2;
  background-color: #151D3B;


}

h1{
  line-height: 2;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.top-para{
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 2rem;
}

.first {
  background-color: #FFC600;
  border: 10px;
  margin: 10px;
  position: relative;
  padding-top: 100px;

}


h2{
  color: #D82148

}



.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;


}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.middle-container{
  margin: 100px 0 ;
  background-color: #DADBBD;


}

.intro {
  width: 30%;
  margin: auto;
}
hr{
  border: dotted black 7px;
  border-bottom: none;
  width: 5% ;
}

.cm {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #6EBF8B ;
  padding: 50px 0 20px ;

}
a{
  color: #D82148;
  font-family: Verdana, Geneva, Tahoma, sans-serif,sans-serif;
  margin: 10px 20px ;
  text-decoration: none;
}
 a:hover{

   color: #EAF6F6 ;
 }

.Copy {
   color: #EAF6F6;
 }
